(******************************** version.sml ********************************)

(* Copyright (C) #YEAR# Alley Stoughton

   The file is part of the Forlan toolset for experimenting with
   formal languages.  See the file COPYING.txt for copying and
   usage restrictions. *)

structure Version =
struct

fun getVersion() = "#VERSION#"

fun getSMLNJVersion() = "#SMLNJVERSION#"

end;
